/**
 * @name New 
 * @author Momo
 * @version 0.0.1
 * @description Lets See wahtchu get 
 * @source https://github.com/Momo1352/BetterDC

**/ 

@import url(https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oxanium:wght@400&display=swap);

:root {
    --font-primary: 'Karla' ;
    --font-headline: 'Karla' ;
    --font-display: 'Karla' ;

    --main-color: Red;
    --popout-color: grey;
    --margin: 10px;
}







