.content__2f4f7::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.avatarDecorationHint_f89da9 {
  height: 80px;
  width: 80px;
  left: 0px;
  top: 0px;
}

.avatarWrapperNormal_f89da9 .avatarDecorationHint_f89da9,
.avatarWrapperNormal_f89da9 .avatarHint_f89da9,
.avatarHintInner_f89da9 {
  border-radius: 26% !important;
  font-size: 9.6px;
  font-weight: 600;
}

.container__37e49 .avatar__37e49 foreignObject, .wrapper__44b0c foreignObject,
.wrapper__44b0c foreignObject ,
.wrapper__44b0c rect,
.avatar_f52a16 {
  border-radius: 50%;
} 


.interactiveSelected__972a0 rect,
.interactiveSelected__972a0 .mask__44b0c.svg__44b0c foreignObject,
.selected__91a9d .avatar__91a9d foreignObject {
  mask: none;
  fill: transparent;
  border-radius: 26%;
}


.userProfileModalInner_c69a7b .avatar-3QF_VA,
.userPopoutInner_c69a7b .avatarWrapper_f89da9,
.userPopoutInner_c69a7b .imageUploaderIconWrapper_e4d0bf,
.accountProfileCard__1fed1:has(.avatar__1fed1) .avatar__1fed1 {
  transition: .35s ease;
  background-color: transparent;
  box-shadow: none;
}



.row__6fddf .avatar_f52a16,
.messageContainer__95796 .avatar_c19a55,
.messageContainer__1ccd1 .avatar_c19a55,

.content__07f91:has(.avatar__07f91) .avatar__07f91,
.container__37e49 .avatarSpeaking__44b0c,

.message__02a39 .avatar_c19a55,
.message__5126c .avatar_c19a55,

.messageGroupWrapper__45690 .messageGroupCozy__45690 .avatar_c19a55 {
  transition: .35s ease;
  border-radius: 26%;
}


.row__6fddf .svg_d48241.mask_db811b foreignObject,
.content__2f4f7 .mask__44b0c.svg__44b0c foreignObject,

.accountProfileCard__1fed1:has(.avatar__1fed1) .bannerSVGWrapper_b32cc2 foreignObject,
.accountProfileCard__1fed1:has(.avatar__1fed1) .avatar__1fed1 foreignObject,

.userPopoutInner_c69a7b .avatar__1fed1 foreignObject,
.userPopoutInner_c69a7b .avatarUploaderInner_ab876d,

.avatarDecorationHint_f89da9 foreignObject,
.selected__91a9d .avatar__91a9d rect,
.svg_d48241.avatarHint_f89da9 foreignObject,
.container__37e49  .avatar__37e49 foreignObject,
.clickable__91a9d .wrapper__44b0c foreignObject,
.userProfileInnerThemedWithBanner_c69a7b .bannerSVGWrapper_b32cc2 foreignObject,
.interactive_bf202d .wrapper__44b0c foreignObject,
.peopleListItem_cc6179.active_cc6179, .peopleListItem_cc6179 .mask__44b0c.svg__44b0c foreignObject,
.outer_bf1984.interactive_bf1984 .mask__44b0c.svg__44b0c foreignObject {
  transition: .35s ease;
  border-radius: 26%;
  mask: none;
} 

  
.userPopoutInner_c69a7b .avatarHoverTarget_f89da9 foreignObject,
.userProfileModalInner_c69a7b .wrapper__44b0c.avatar-3QF_VA foreignObject {
  mask: none;
  border-radius: 26%;
  animation-name: border-transition;
  animation-duration: 0.35s;
  animation-timing-function: ease;
}


.avatarHintInner_f89da9 circle,

.userPopoutInner_c69a7b .avatarHoverTarget_f89da9 circle,
.userPopoutInner_c69a7b .bannerSVGWrapper_b32cc2 circle,
.userPopoutInner_c69a7b .avatarHoverTarget_f89da9 rect,
.userPopoutInner_c69a7b .mask__44b0c.svg__44b0c rect[style="opacity: 0.45;"],

.userProfileModalInner_c69a7b .wrapper__44b0c.avatar-3QF_VA circle, 
.userProfileModalInner_c69a7b .mask__44b0c.svg__44b0c rect[style="opacity: 0.45;"]  {
  transition: .35s ease;
  fill: transparent;
}


.messageContainer__1ccd1 .avatarDecoration_c19a55,
.messageContainer__95796 .avatarDecoration_c19a55, 

.row__6fddf .maskIcon_db811b,
.row__6fddf .maskBackground_db811b, 

.accountProfileCard__1fed1:has(.avatar__1fed1) .avatar__1fed1 rect,
.userPopoutInner_c69a7b .status_ab876d, .statusDotBackground_ab876d rect,
.userPopoutInner_c69a7b .imageUploaderIcon_e4d0bf,

.interactive_bf202d .wrapper__44b0c rect,
.peopleListItem_cc6179.active_cc6179, .peopleListItem_cc6179 .wrapper__44b0c rect,
.outer_bf1984.interactive_bf1984 .wrapper__44b0c rect,

.userProfileModalInner_c69a7b .bannerSVGWrapper_b32cc2 circle,
.userProfileInnerThemedWithBanner_c69a7b .avatarDecoration__44b0c,

.clickable__91a9d .wrapper__44b0c rect,
.clickable__91a9d .avatarDecoration__44b0c,

.selected__91a9d .avatar__91a9d rect,
.selected__91a9d .avatarDecoration__44b0c,

.avatarHoverTarget_f89da9 rect,
.userProfileModalInner_c69a7b .wrapper__44b0c.avatar-3QF_VA rect,
.container__37e49  .avatar__37e49 rect,
.message__5126c .avatarDecoration_c19a55 {
  animation-name: Opacity;
  animation-duration: .35s;
  animation-timing-function: ease;
  opacity: 0;
}
