.selected-1-Z6gm .layout-1qmrhw .avatar-6qzftW foreignObject[mask^="url(#"] {
  mask: none;
  border-radius: 26%;
  fill: transparent;
}

.avatarWrapperNormal-ahVUaC .avatarDecorationHint-3n-p6O,
.avatarWrapperNormal-ahVUaC .avatarHint-k7pYop,
.avatarHintInner-2HUAWj {
  border-radius: 26% !important;
  font-size: 9.6px;
  font-weight: 600;
}
.avatarDecorationHint-3n-p6O {
  height: 80px;
  width: 80px;
  left: 0px;
  top: 0px;
}

.userProfileModalInner-3dx9L9 .avatar-3QF_VA,
.userPopoutInner-nv9Y92 .avatarWrapper-eenWra {
  transition: .35s ease;
  background-color: transparent;
  box-shadow: none;
}

.message-2CShn3 .avatar-2e8lTP {
  transition: .35s ease;
  border-radius: 26%;
}
.avatarDecorationHint-3n-p6O foreignObject[mask^="url(#"],
.selected-1-Z6gm .layout-1qmrhw .avatar-6qzftW rect[mask^="url(#"],
.svg-lIB-lq.avatarHint-k7pYop foreignObject[mask^="url(#"],
.container-YkUktl  .avatar-1EWyVD foreignObject[mask^="url(#"],
.clickable-28SzVr .layout-1qmrhw .wrapper-3Un6-K foreignObject[mask^="url(#"],
.userProfileInnerThemedWithBanner-25XGmz .bannerSVGWrapper-2CLfzN foreignObject[mask^="url(#"] {
  transition: .35s ease;
  border-radius: 26%;
  mask: none;
} 

  
.userPopoutInner-nv9Y92 .avatarHoverTarget-1zzfRL foreignObject[mask^="url(#"],
.userProfileModalInner-3dx9L9 .wrapper-3Un6-K.avatar-3QF_VA foreignObject[mask^="url(#"] {
  mask: none;
  border-radius: 26%;
  animation-name: border-transition;
  animation-duration: 0.35s;
  animation-timing-function: ease;
}
  
.container-YkUktl .avatar-1EWyVD foreignObject[mask^="url(#"],
.layout-1qmrhw .wrapper-3Un6-K foreignObject[mask^="url(#"] {
  border-radius: 50%;
} 


.avatarHintInner-2HUAWj circle,
.userPopoutInner-nv9Y92 .avatarHoverTarget-1zzfRL circle,
.userPopoutInner-nv9Y92 .bannerSVGWrapper-2CLfzN circle,
.userPopoutInner-nv9Y92 .avatarHoverTarget-1zzfRL rect[mask^="url(#"],
.userProfileModalInner-3dx9L9 .wrapper-3Un6-K.avatar-3QF_VA circle, 
.userPopoutInner-nv9Y92 .mask-1y0tyc.svg-1G_H_8 rect[style="opacity: 0.45;"],
.userProfileModalInner-3dx9L9 .mask-1y0tyc.svg-1G_H_8 rect[style="opacity: 0.45;"]  {
  fill: transparent;
  transition: .3s ease;
}


.userProfileModalInner-3dx9L9 .bannerSVGWrapper-2CLfzN circle,
.userProfileInnerThemedWithBanner-25XGmz .avatarDecoration-2Wb1Au,

.clickable-28SzVr .layout-1qmrhw .wrapper-3Un6-K rect[mask^="url(#"],
.clickable-28SzVr .avatarDecoration-2Wb1Au,

.selected-1-Z6gm .layout-1qmrhw .avatar-6qzftW rect[mask^="url(#"],
.selected-1-Z6gm .layout-1qmrhw .avatarDecoration-2Wb1Au,

.avatarHoverTarget-1zzfRL rect[mask^="url(#"],
.userProfileModalInner-3dx9L9 rect[mask^="url(#"],
.container-YkUktl  .avatar-1EWyVD rect[mask^="url(#"],
.message-2CShn3 .avatarDecoration-34OC0G {
  animation-name: Opacity;
  animation-duration: .3s;
  animation-timing-function: ease;
  opacity: 0;
}
