/* Own Messages to the right */
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"]))
    :where(.groupStart__5126c.cozyMessage__5126c>.contents_c19a55, 
    .cozyMessage__5126c:not(.groupStart__5126c)>.contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *),
     code, [id*=timestamp], [class*=Grid], [class*=embed], [class*=Attachment], [class*=Media], [class*=zalgo], [class*=reaction]),
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"]))
    + li:not(:has(.groupStart__5126c)) 
    :where(.groupStart__5126c.cozyMessage__5126c>.contents_c19a55,
    .cozyMessage__5126c:not(.groupStart__5126c)>.contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *),
     code, span, [id*=timestamp], [class*=Grid], [class*=embed], [class*=Attachment], [class*=Media], [class*=zalgo], [class*=reaction]),
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"])) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c))
    :where(.groupStart__5126c.cozyMessage__5126c>.contents_c19a55, 
    .cozyMessage__5126c:not(.groupStart__5126c)>.contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *),
     code, span, [id*=timestamp], [class*=Grid], [class*=embed], [class*=Attachment], [class*=Media], [class*=zalgo], [class*=reaction]),
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"])) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    :where(.groupStart__5126c.cozyMessage__5126c>.contents_c19a55, 
    .cozyMessage__5126c:not(.groupStart__5126c)>.contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *),
     code, span, [id*=timestamp], [class*=Grid], [class*=embed], [class*=Attachment], [class*=Media], [class*=zalgo], [class*=reaction]),
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"])) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    :where(.groupStart__5126c.cozyMessage__5126c>.contents_c19a55, 
    .cozyMessage__5126c:not(.groupStart__5126c)>.contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *),
     code, span, [id*=timestamp], [class*=Grid], [class*=embed], [class*=Attachment], [class*=Media], [class*=zalgo], [class*=reaction]),
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"])) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    :where(.groupStart__5126c.cozyMessage__5126c>.contents_c19a55, 
    .cozyMessage__5126c:not(.groupStart__5126c)>.contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *),
     code, span, [id*=timestamp], [class*=Grid], [class*=embed], [class*=Attachment], [class*=Media], [class*=zalgo], [class*=reaction]),
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"])) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    :where(.groupStart__5126c.cozyMessage__5126c>.contents_c19a55, 
    .cozyMessage__5126c:not(.groupStart__5126c)>.contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *),
     code, span, [id*=timestamp], [class*=Grid], [class*=embed], [class*=Attachment], [class*=Media], [class*=zalgo], [class*=reaction]),
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"])) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    :where(.groupStart__5126c.cozyMessage__5126c>.contents_c19a55, 
    .cozyMessage__5126c:not(.groupStart__5126c)>.contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *),
     code, span, [id*=timestamp], [class*=Grid], [class*=embed], [class*=Attachment], [class*=Media], [class*=zalgo], [class*=reaction]),
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"])) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    :where(.groupStart__5126c.cozyMessage__5126c>.contents_c19a55, 
    .cozyMessage__5126c:not(.groupStart__5126c)>.contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *),
     code, span, [id*=timestamp], [class*=Grid], [class*=embed], [class*=Attachment], [class*=Media], [class*=zalgo], [class*=reaction]),
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"])) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    :where(.groupStart__5126c.cozyMessage__5126c>.contents_c19a55, 
    .cozyMessage__5126c:not(.groupStart__5126c)>.contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *),
     code, span, [id*=timestamp], [class*=Grid], [class*=embed], [class*=Attachment], [class*=Media], [class*=zalgo], [class*=reaction])
    {margin-left: auto !important}
    
    
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"]))
    + li:not(:has(.groupStart__5126c))> div > div > span:has([id*=timestamp]),
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"]))
    + li:not(:has(.groupStart__5126c))
    + li:not(:has(.groupStart__5126c))> div > div > span:has([id*=timestamp]),
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"]))
    + li:not(:has(.groupStart__5126c))
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c))> div > div > span:has([id*=timestamp]),
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"]))
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) > div > div > span:has([id*=timestamp]),
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"]))
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c))> div > div > span:has([id*=timestamp]),
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"]))
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) > div > div > span:has([id*=timestamp]),
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"]))
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) > div > div > span:has([id*=timestamp]),
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"]))
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) 
    + li:not(:has(.groupStart__5126c)) > div > div > span:has([id*=timestamp])
    {left: calc(100% - 8em) !important;} 
    
 
   
    /* Name Header when uploader */
    :is([class*=wrapper], [class*=cozy]):has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"])) .header_c19a55:has([id*="-Uploader" ]) {
      text-align: right;
      margin-right: 3.1em;
    }
    
    /* Attachment uploader */
    .fileWrapper__0ccae {
      display: flex;
      margin-left: auto;
      margin-right: 3.1em;
    }
    
    /* All Messages */
    .message__5126c {
      padding-right: 72px !important;
    }
    
    /* repliedMessage indicator */
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"])) .repliedMessage_c19a55::before {
      border-right: var(--spine-width) solid var(--interactive-muted);
      border-top-right-radius: 6px;
      border-left: unset;
      border-top-left-radius: unset;
      right: calc(var(--avatar-size)/2*-1 + var(--gutter)*-1.4);
      left: 101%
    } 
    
    /* Replyed Message (Avatar, Name, Text */
    li:has([src*="416353640073134082"]):not(:has([class*=replyAvatar][src*="416353640073134082"])) .repliedMessage_c19a55 {
      justify-content: flex-end;
    } 
    
    /* Avatar in Search */
    .searchResultsWrap_a9e706:has([src*="416353640073134082"]) img {
      left: calc(4%) !important;
    }
    /* Avatar */
    [class] img[src*="416353640073134082"]{
      left: calc(100% - 3.7em);
    } 
    
