/* Makes Avatars look cleaner on hover */
.userProfileModalInner_c69a7b:hover .mask_c51b4e.svg_c51b4e>circle {
	fill: none;
	transition: .35s ease;
  }

  .userProfileModalInner_c69a7b:hover .mask_c51b4e>rect {
	opacity: 0;
	transition: .25s ease;
  }

.userProfileModalInner_c69a7b:hover .mask_c51b4e>foreignObject {
	mask: none;
	border-radius: 26%;
	transition: .35s ease;
  }

.content_ba4b17:has(.avatarWrapper_cff728)::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 99;
  }
  
  .avatarDecorationHint_f89da9 {
	height: 80px;
	width: 80px;
	left: 0px;
	top: 0px;
  }
  
  .avatarWrapperNormal_f89da9:hover .avatarDecorationHint_f89da9,
  .avatarWrapperNormal_f89da9:hover .avatarHint_f89da9,
  .avatarHintInner_f89da9 {
	border-radius: 26% !important;
	font-size: 9.6px;
	font-weight: 600;
  }
  
  .container_b2ca13 .avatar_b2ca13 foreignObject, .wrapper_c51b4e foreignObject,
  .wrapper_c51b4e foreignObject ,
  .wrapper_c51b4e rect,
  .avatar_f52a16 {
	border-radius: 50%;
  } 
  
  .messageContainer_ddb5b4:not(:hover) .avatar_f9f2ca,
  .messageContainer_c06487:not(:hover) .avatar_f9f2ca,
  .messageGroupWrapper_ac90a2 .messageGroupCozy_ac90a2:not(:hover) .avatar_f9f2ca,
  .message_d5deea:not(:hover) .avatar_f9f2ca {
	transition: border-radius .35s ease;
	border-radius: 50%;
  }
  
  .interactiveSelected_c91bad rect
  .interactiveSelected_c91bad .mask_c51b4e.svg_c51b4e foreignObject,
  .selected_d808b0 .avatar_d808b0 foreignObject {
	mask: none;
	fill: transparent;
	border-radius: 26%;
  }
  
  .userProfileModalInner_c69a7b:hover .avatar-3QF_VA,
  .userPopoutInner_c69a7b:hover .avatarWrapper_f89da9,
  .userPopoutInner_c69a7b:hover .imageUploaderIconWrapper_de76e4,
  .accountProfileCard_b69b77:has(.avatar_b69b77):hover .avatar_b69b77 {
	transition: .35s ease;
	background-color: transparent;
	box-shadow: none;
  }
  
  
  
  .row_fd8ff1:hover .avatar_f52a16,
  .messageContainer_ddb5b4:hover .avatar_f9f2ca,
  .messageContainer_c06487:hover .avatar_f9f2ca,
  
  .container_b2ca13:hover .avatarSpeaking_c51b4e,
  
  .message_ddc613:hover .avatar_f9f2ca,
  .message_d5deea:hover .avatar_f9f2ca,
  
  .messageGroupWrapper_ac90a2 .messageGroupCozy_ac90a2:hover .avatar_f9f2ca {
	transition: .35s ease;
	border-radius: 26%;
  }
  
  
  .row_fd8ff1:hover .svg_d48241.mask_f9bbb4 foreignObject,
  .content_ba4b17:hover .mask_c51b4e.svg_c51b4e foreignObject,
  
  .accountProfileCard_b69b77:has(.avatar_b69b77):hover .bannerSVGWrapper_b32cc2 foreignObject,
  .accountProfileCard_b69b77:has(.avatar_b69b77):hover .avatar_b69b77 foreignObject,
  
  .userPopoutInner_c69a7b:hover .avatar_b69b77 foreignObject,
  .userPopoutInner_c69a7b:hover .avatarUploaderInner_ab876d,
  
  .avatarDecorationHint_f89da9 foreignObject,
  .selected_d808b0 .avatar_d808b0 rect,
  .svg_d48241.avatarHint_f89da9 foreignObject,
  .container_b2ca13:hover  .avatar_b2ca13 foreignObject,
  .clickable_d808b0:hover .wrapper_c51b4e foreignObject,
  .userProfileInner_c69a7b:hover .bannerSVGWrapper_b32cc2 foreignObject,
  .interactive_f5eb4b:hover .wrapper_c51b4e foreignObject,
  .peopleListItem_d51464.active_d51464, .peopleListItem_d51464:hover .mask_c51b4e.svg_c51b4e foreignObject,
  .outer_ac5d22.interactive_ac5d22:hover .mask_c51b4e.svg_c51b4e foreignObject {
	transition: .35s ease;
	border-radius: 26%;
	mask: none;
  } 
  
	
  .userPopoutInner_c69a7b:hover .avatarHoverTarget_f89da9 foreignObject,
  .userProfileModalInner_c69a7b:hover .wrapper_c51b4e.avatar-3QF_VA foreignObject {
	mask: none;
	border-radius: 26%;
	animation-name: border-transition;
	animation-duration: 0.35s;
	animation-timing-function: ease;
  }
  
  
  
  .avatarHintInner_f89da9 circle,
  
  .userPopoutInner_c69a7b:hover .avatarHoverTarget_f89da9 circle,
  .userPopoutInner_c69a7b:hover .bannerSVGWrapper_b32cc2 circle,
  .userPopoutInner_c69a7b:hover .avatarHoverTarget_f89da9 rect,
  .userPopoutInner_c69a7b:hover .mask_c51b4e.svg_c51b4e rect[style="opacity: 0.45;"],
  
  .userProfileModalInner_c69a7b:hover .wrapper_c51b4e.avatar-3QF_VA circle, 
  .userProfileModalInner_c69a7b:hover .mask_c51b4e.svg_c51b4e rect[style="opacity: 0.45;"]  {
	transition: .35s ease;
	fill: transparent;
  }
  
  .userProfileInnerThemedPremiumWithoutBanner_c69a7b:hover .avatarDecoration_c51b4e,
  
  .messageContainer_c06487:hover .avatarDecoration_f9f2ca,
  .messageContainer_ddb5b4:hover .avatarDecoration_f9f2ca, 
  
  .row_fd8ff1:hover .maskIcon_f9bbb4,
  .row_fd8ff1:hover .maskBackground_f9bbb4, 
  
  .accountProfileCard_b69b77:has(.avatar_b69b77):hover .avatar_b69b77 rect,
  .userPopoutInner_c69a7b:hover .status_ab876d, .statusDotBackground_ab876d rect,
  .userPopoutInner_c69a7b:hover .imageUploaderIcon_de76e4,
  
  .interactive_f5eb4b:hover .wrapper_c51b4e rect,
  .peopleListItem_d51464.active_d51464, .peopleListItem_d51464:hover .wrapper_c51b4e rect,
  .outer_ac5d22.interactive_ac5d22:hover .wrapper_c51b4e rect,
  
  .userProfileModalInner_c69a7b:hover .bannerSVGWrapper_b32cc2 circle,
  .userProfileInnerThemedWithBanner_c69a7b:hover .avatarDecoration_c51b4e,
  .userPopoutInner_c69a7b:hover .avatarDecoration_c51b4e,
  
  .clickable_d808b0:hover .wrapper_c51b4e rect,
  .clickable_d808b0:hover .avatarDecoration_c51b4e,
  
  .selected_d808b0 .avatar_d808b0 rect,
  .selected_d808b0 .avatarDecoration_c51b4e,
  
  
  .avatarHoverTarget_f89da9:hover rect,
  .userProfileModalInner_c69a7b:hover .wrapper_c51b4e.avatar-3QF_VA rect,
  .container_b2ca13:hover  .avatar_b2ca13 rect,
  .message_d5deea:hover .avatarDecoration_f9f2ca {
	animation-name: Opacity;
	animation-duration: .15s;
	animation-timing-function: ease;
	opacity: 0;
  }
  
  @keyframes border-transition {
	0% {
	  border-radius: 50%;
	}
	100% {
	  border-radius: 26%;
	}
  }
	
	
  @keyframes Opacity {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
