/* Makes Avatars look cleaner on hover */
.userProfileModalInner__99b1e:hover .mask_d5067d.svg_a6bf1c>circle {
	fill: none;
	transition: .35s ease;
  }

  .userProfileModalInner__99b1e:hover .mask_d5067d>rect {
	opacity: 0;
	transition: .25s ease;
  }

.userProfileModalInner__99b1e:hover .mask_d5067d>foreignObject {
	mask: none;
	border-radius: 26%;
	transition: .35s ease;
  }

.content_d17ad6:has(.avatarWrapper_edfd2c)::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 99;
  }
  
  .avatarDecorationHint__04b99 {
	height: 80px;
	width: 80px;
	left: 0px;
	top: 0px;
  }
  
  .avatarWrapperNormal__36eec:hover .avatarDecorationHint__04b99,
  .avatarWrapperNormal__36eec:hover .avatarHint__15059,
  .avatarHintInner_c8ddb1 {
	border-radius: 26% !important;
	font-size: 9.6px;
	font-weight: 600;
  }
  
  .container_debb33 .avatar_f8541f foreignObject, .wrapper__3ed10 foreignObject,
  .wrapper__3ed10 foreignObject ,
  .wrapper__3ed10 rect,
  .avatar_f52a16 {
	border-radius: 50%;
  } 
  
  .messageContainer_cb3d47:not(:hover) .avatar__08316,
  .messageContainer__3e208:not(:hover) .avatar__08316,
  .messageGroupWrapper__1fce2 .messageGroupCozy__9d016:not(:hover) .avatar__08316,
  .message_ccca67:not(:hover) .avatar__08316 {
	transition: border-radius .35s ease;
	border-radius: 50%;
  }
  
  .interactiveSelected__689f0 rect
  .interactiveSelected__689f0 .mask_d5067d.svg_a6bf1c foreignObject,
  .selected__7f4cb .avatar__6337f foreignObject {
	mask: none;
	fill: transparent;
	border-radius: 26%;
  }
  
  .userProfileModalInner__99b1e:hover .avatar-3QF_VA,
  .userPopoutInner_e90432:hover .avatarWrapper__0cd44,
  .userPopoutInner_e90432:hover .imageUploaderIconWrapper__3d11a,
  .accountProfileCard__744d8:has(.avatar__6c108):hover .avatar__6c108 {
	transition: .35s ease;
	background-color: transparent;
	box-shadow: none;
  }
  
  
  
  .row_e9c6f6:hover .avatar_f52a16,
  .messageContainer_cb3d47:hover .avatar__08316,
  .messageContainer__3e208:hover .avatar__08316,
  
  .container_debb33:hover .avatarSpeaking__747a1,
  
  .message__7e601:hover .avatar__08316,
  .message_ccca67:hover .avatar__08316,
  
  .messageGroupWrapper__1fce2 .messageGroupCozy__9d016:hover .avatar__08316 {
	transition: .35s ease;
	border-radius: 26%;
  }
  
  
  .row_e9c6f6:hover .svg_bb7847.mask__8ba21 foreignObject,
  .content_d17ad6:hover .mask_d5067d.svg_a6bf1c foreignObject,
  
  .accountProfileCard__744d8:has(.avatar__6c108):hover .bannerSVGWrapper__8a38c foreignObject,
  .accountProfileCard__744d8:has(.avatar__6c108):hover .avatar__6c108 foreignObject,
  
  .userPopoutInner_e90432:hover .avatar__6c108 foreignObject,
  .userPopoutInner_e90432:hover .avatarUploaderInner__71578,
  
  .avatarDecorationHint__04b99 foreignObject,
  .selected__7f4cb .avatar__6337f rect,
  .svg_bb7847.avatarHint__15059 foreignObject,
  .container_debb33:hover  .avatar_f8541f foreignObject,
  .clickable__03a29:hover .wrapper__3ed10 foreignObject,
  .userProfileInner__61cc1:hover .bannerSVGWrapper__8a38c foreignObject,
  .interactive__0786a:hover .wrapper__3ed10 foreignObject,
  .peopleListItem_dab480.active__6b8ff, .peopleListItem_dab480:hover .mask_d5067d.svg_a6bf1c foreignObject,
  .outer_a41cf3.interactive__46c44:hover .mask_d5067d.svg_a6bf1c foreignObject {
	transition: .35s ease;
	border-radius: 26%;
	mask: none;
  } 
  
	
  .userPopoutInner_e90432:hover .avatarHoverTarget__9b4a9 foreignObject,
  .userProfileModalInner__99b1e:hover .wrapper__3ed10.avatar-3QF_VA foreignObject {
	mask: none;
	border-radius: 26%;
	animation-name: border-transition;
	animation-duration: 0.35s;
	animation-timing-function: ease;
  }
  
  
  
  .avatarHintInner_c8ddb1 circle,
  
  .userPopoutInner_e90432:hover .avatarHoverTarget__9b4a9 circle,
  .userPopoutInner_e90432:hover .bannerSVGWrapper__8a38c circle,
  .userPopoutInner_e90432:hover .avatarHoverTarget__9b4a9 rect,
  .userPopoutInner_e90432:hover .mask_d5067d.svg_a6bf1c rect[style="opacity: 0.45;"],
  
  .userProfileModalInner__99b1e:hover .wrapper__3ed10.avatar-3QF_VA circle, 
  .userProfileModalInner__99b1e:hover .mask_d5067d.svg_a6bf1c rect[style="opacity: 0.45;"]  {
	transition: .35s ease;
	fill: transparent;
  }
  
  .userProfileInnerThemedPremiumWithoutBanner__3705a:hover .avatarDecoration_cf681a,
  
  .messageContainer__3e208:hover .avatarDecoration__8a0c2,
  .messageContainer_cb3d47:hover .avatarDecoration__8a0c2, 
  
  .row_e9c6f6:hover .maskIcon_db6e3b,
  .row_e9c6f6:hover .maskBackground_d1b3ad, 
  
  .accountProfileCard__744d8:has(.avatar__6c108):hover .avatar__6c108 rect,
  .userPopoutInner_e90432:hover .status_be3f03, .statusDotBackground_baf09f rect,
  .userPopoutInner_e90432:hover .imageUploaderIcon__4b7d2,
  
  .interactive__0786a:hover .wrapper__3ed10 rect,
  .peopleListItem_dab480.active__6b8ff, .peopleListItem_dab480:hover .wrapper__3ed10 rect,
  .outer_a41cf3.interactive__46c44:hover .wrapper__3ed10 rect,
  
  .userProfileModalInner__99b1e:hover .bannerSVGWrapper__8a38c circle,
  .userProfileInnerThemedWithBanner__2152d:hover .avatarDecoration_cf681a,
  .userPopoutInner_e90432:hover .avatarDecoration_cf681a,
  
  .clickable__03a29:hover .wrapper__3ed10 rect,
  .clickable__03a29:hover .avatarDecoration_cf681a,
  
  .selected__7f4cb .avatar__6337f rect,
  .selected__7f4cb .avatarDecoration_cf681a,
  
  
  .avatarHoverTarget__9b4a9:hover rect,
  .userProfileModalInner__99b1e:hover .wrapper__3ed10.avatar-3QF_VA rect,
  .container_debb33:hover  .avatar_f8541f rect,
  .message_ccca67:hover .avatarDecoration__8a0c2 {
	animation-name: Opacity;
	animation-duration: .15s;
	animation-timing-function: ease;
	opacity: 0;
  }
  
  @keyframes border-transition {
	0% {
	  border-radius: 50%;
	}
	100% {
	  border-radius: 26%;
	}
  }
	
	
  @keyframes Opacity {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
